.flipkart {
  margin-right:700px;
  margin-left:900px;
  margin-top:-20px;
  font-size: 250%;
}

.snapdeal {
  margin-right:700px;
  margin-left:1100px;
  margin-top:-20px;
  font-size: 250%;
}
.amazon {
  margin-right:700px;
  margin-left:1350px;
  margin-top:-20px;
  font-size: 250%;
}
