.flipkart {
  margin-right:700px;
  margin-left:760px;
  margin-top:-22px;
  font-size: 200%;
}

.snapdeal {
  margin-right:700px;
  margin-left:930px;
  margin-top:-22px;
  font-size: 200%;
}
.amazon {
  margin-right:700px;
  margin-left:1125px;
  margin-top:-22px;
  font-size: 200%;
}
.indent10 {
    text-indent: 10mm;
}
.indent5 {
    text-indent: 5mm;
}
