<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Git Commands - Useful Git Commands , Start with git commands, See it on Github</title>

  <meta name="description"
  content="Git commands it the best place to learn the useful git commands for development purpose, gitcommands help you do the work faster compare to working to ui for git commands">

  <meta name="keywords"
  content="git commands, git hard reset, git branch, git push, git apply, git stash, git apply stash, git config, git config list" />

  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/GitStar.png">

  <link rel="stylesheet" href="/stylesheets/all.css">

</head>
