<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>

  <meta name="description"
  content="{{ page.description }}" />

  <meta name="keywords"
  content="{{ page.keywords }}" />

  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/GitStar.png">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/all.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">

  <!-- Start of Heap Analytics -->
  <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
  <script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
  heap.load("2983293696");
  </script>
  <!-- End of Heap Analytics -->

</head>
