<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>

  <meta name="description"
  content="{{ page.description }}" />

  <meta name="keywords"
  content="{{ page.keywords }}" />

  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/GitStar.png">

  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/custom.css">


</head>
