<!--  Start of Right side menu content -->
  <ul>
    <li class="selected">
      <a href="index.html">Git Workflow</a>
    </li>
    <li>
      <a href="betaindex.html">Introduction</a>
    </li>
    <li>
      <a href="http://fractal.thephpleague.com/simple-example/">Simple Example</a>
    </li>
    <li>
      <a href="http://fractal.thephpleague.com/installation/">Installation</a>
    </li>
    <li>
      <a href="http://fractal.thephpleague.com/glossary/">Glossary</a>
    </li>
  </ul>
  <h2>Concepts</h2>
  <ul>
    <li>
      <a href="http://fractal.thephpleague.com/resources/">Resources</a>
    </li>
    <li>
      <a href="http://fractal.thephpleague.com/serializers/">Serializers</a>
    </li>
    <li>
      <a href="http://fractal.thephpleague.com/transformers/">Transformers</a>
    </li>
    <li>
      <a href="http://fractal.thephpleague.com/pagination/">Pagination</a>
    </li>
  </ul>
<!--  End of Right side menu content-->
