<!--  Start of Right side menu content -->
  <ul>
    <li class="selected">
      <a href="/git-workflow">Git Workflow</a>
    </li>
    <li>
      <a href="/what-is-git">Introduction</a>
    </li>
    <li>
      <a href="#">Git init</a>
    </li>
    <li>
      <a href="#">Git clone</a>
    </li>
    <li>
      <a href="#">Git status</a>
    </li>
    <li>
      <a href="#">Git config</a>
    </li>
    <li>
      <a href="#">Git pull</a>
    </li>
    <li>
      <a href="#">Git branch</a>
    </li>
    <li>
      <a href="#">Git push</a>
    </li>
    <li>
      <a href="#">Git stash</a>
    </li>
    <li>
      <a href="#">Git apply</a>
    </li>
    <li>
      <a href="#">Git reset</a>
    </li>
  </ul>
  <h2><a href="#">About Us</a></h2>
  <h2> <a href="/what-is-aim">What is our aim</a><h2>
<!--  End of Right side menu content-->
