<!--  Start of Right side menu content -->
  <ul>
    <li class="selected">
      <a href="{{ site.baseurl }}/git-workflow">Git Workflow</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/what-is-git">Introduction</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-init">Git init</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-clone">Git clone</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-status">Git status</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-config">Git config</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-pull">Git pull</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-branch">Git branch</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-add">Git add</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-commit">Git commit</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-push">Git push</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-stash">Git stash</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-apply">Git apply</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-cherry-pick">Git cherry pick</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/git-reset">Git reset</a>
    </li>
  </ul>

  <h2><a href="{{ site.baseurl }}/about-us">About Us</a></h2>

  <h2> <a href="{{ site.baseurl }}/what-is-the-aim">What is our aim</a></h2>
<!--  End of Right side menu content-->
